@import url('https://fonts.googleapis.com/css?family=Passion+One:400|Yanone+Kaffeesatz:200,300,400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i&subset=cyrillic,latin-ext');

@import 'settings/settings';
@import 'foundation';
@include foundation-everything;

@import 'layouts/layout';
@import 'layouts/blog_article';

@import 'components/blog/article_row';
@import 'components/blog/sidebar';
@import 'components/article_header';
@import 'components/map';
@import 'components/cities_with_projects';
@import 'components/label_tag';

@import 'pages/project';

// anchor hover animation
a {
  transition: color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
