.cities_with_projects {
	display: flex;
	flex-wrap: wrap;

	section	{
		text-align: center;
		margin: 1.2em auto;
		width: 100%;
		padding: $global-padding;
		transition: background-color 0.3s;
		@include breakpoint(medium) {
			width: 48%;
		}
		@include breakpoint(large) {
			width: 30%;
		}

		&:hover {
			background-color: rgba($light-gray, 0.2);
		}
	}
	ul {
		list-style: none;
		margin: 0;
	}
	.title {
		line-height: 1;
	}
	.location {
		font-weight: 200;
		font-size: 0.8em;
		margin-bottom: 0;
	}
}