#project {

	& > header {

		.logo img {
			max-width: 240px;
			max-height: 240px;
		}

		h1 {
			margin-top: $global-margin*3;
			line-height: 1;
			small {
				font-size: 1.2rem;
				font-weight: 300;
			}
		}
	}

	.about, .history {
		text-align: justify;
		margin: $global-margin * 3 0;
		line-height: 2;
	}

	.photos {
		figure {
			background-color: white;
			padding: $global-padding;
			margin-bottom: $global-margin * 2;

			.image {
				height: 320px;
				background: $light-gray center no-repeat; 
				background-size: cover;
				filter: grayscale(1);
				opacity: 0.9;
		    transition: filter 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.3s;
		    &:hover {
		      filter: grayscale(0);
		      opacity: 1;
		    }
			}
		}
	}

	.links {
		.menu {
			li > *,
			{
		    display: block;
		    padding: $menu-item-padding;
		    line-height: 1;
		  }
		}
	}
}